<div class="container">

  <div class="row my-5">
    <div class="col-sm-5">
      <img src="/{{logoImagePath}}" alt="Logo" class="w-100" />
    </div>

    <div class="col-sm-7">
      <div class="border h-100 vertical-center text-center">
        <h2 class="text-center">Welcome, Crusader!</h2>

        
        <h3>Search real, open jobs and reviews</h3>

        <h3>Post real, open jobs and reviews</h3>
        
      </div>
    </div>
  </div>
</div>