<div class="container">

  <div class="row my-5">
    <div class="col-sm-5">
      <img src="/{{logoImagePath}}" alt="Logo" class="w-100" />
    </div>

    <div class="col-sm-7">
      <div class="border h-100 vertical-center">
        <h2 class="text-center">Log in to your
          <b>Career Crusader</b>
          community! Find and post real jobs by real people, not bots.
        </h2>

        <form action="/submit" method="POST">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              required
            />
          </div>

          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              required
            />
          </div>

          <div class="mb-3">
            Forgot username?
            <a href="#">Click here</a>
          </div>

          <div class="mb-3">
            Forgot password?
            <a href="#">Click here</a>
          </div>

          <div class="mb-3 text-center">
            <input type="submit" class="btn btn-yellow px-5" />
          </div>

        </form>
      </div>
    </div>
  </div>
</div>