<div class="container">

  <div class="row my-5">
    <div class="col-sm-3">
      <img src="/{{logoImagePath}}" alt="Logo" class="w-100" />
    </div>

    <div class="col-sm-9">
      <div class="border h-100 vertical-center">
        <h3>Hi Career Crusader Jane! Crusader Ranking:
          <span class="text-yellow">
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </span></h3>

        <p>Job Postings: 2
          <br />
          Saved Jobs: 2
          <br />
          Job Reviews: 4</p>
      </div>
    </div>

  </div>

  <div class="row my-5">
    <div class="col-12">
      <div class="border">
        <h4>Post a Job Opening Software Designer Save Job
          <br />
          Company:
          <br />
          Location:
          <br />
          Description:
          <br />
          Crusader Rating:
          <br />
          Crusader Feedback:
          <br />
          Apply:
        </h4>
      </div>
    </div>
  </div>

</div>