div class="container">

  <div class="row my-5">
    <div class="col-sm-3">
      <img src="/{{logoImagePath}}" alt="Logo" class="w-100" />
    </div>

    <div class="col-sm-9">
      <div class="border h-100 vertical-center">
        <h3>Hi Career Crusader Jane! Crusader Ranking:
          <span class="text-yellow">
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </span></h3>

        <p>Job Postings: 2
          <br />
          Saved Jobs: 2
          <br />
          Job Reviews: 4</p>
      </div>
    </div>

  </div>

  <div class="row my-5">
    <div class="col-6">
      <div class="border">
        <h4>Search, Review & Save Current Jobs
          <br />
          Company:
          <span class="text-yellow">
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </span>
          <br />
          Location:
          <span class="text-yellow">
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </span>
          <br />
          Description:
          <br />
          Crusader Rating:
        </h4>
      </div>
    </div>

    <div class="col-6">
      <div class="border">
        <h4>Posting a Job opening
          <br />
          Company:
          <br />
          Location:
          <br />
          Description:
          <br />
          Crusader Rating:
        </h4>
      </div>
    </div>

  </div>

</div>